<footer class="container">

    <div class="site-footer">

        <div class="copyright pull-left">
           <span id="cp_date"></span>                   
		   <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259947671'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259947671%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>

        <a href="https://github.com/zxh578164349" target="_blank" aria-label="view source code">
            <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
        </a>

        <div class="pull-right">
            <a href="javascript:window.scrollTo(0,0)" >TOP</a>
        </div>

    </div>

    <!-- Third-Party JS -->
    <script type="text/javascript" src="{{ site.baseurl }}/bower_components/geopattern/js/geopattern.min.js"></script>

    <!-- My JS -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/script.js"></script>
	

    {% for javascript in page.javascript %}
    <script src="{{ site.baseurl }}/assets/js/{{javascript}}"></script>
    {% endfor %}

    <!-- Google Analytics -->
    
    <script>
	   $(function(){
	       $("#cp_date").text("© 2015-"+new Date().getFullYear())	   
	   });
	</script>
</footer>
